<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Upload de documento</title>
    </head>
    <body>
        <div style="text-align: center">
            <h1>Registrar endereço</h1>
            <br>
            <strong>Nome:</strong>
            <label th:text="*{client.name}"></label>
            <strong>Sobrenome:</strong>
            <label th:text="*{client.lastName}"></label>
            <br>
            <strong>CPF:</strong>
            <label th:text="*{client.document.cpf}"></label>
            <br><br>
            <form th:action="@{/cliente/endereco}" th:object="${address}" method="post">
                <div th:each="erro: ${errors}">
                    <span style="color: red;" th:text="${erro}" ></span>
                </div>
                <input type="text" name="id" th:value="${client.document.cpf}" hidden>
                <input type="text" name="zip" onKeyPress="maskZIP(zip);" maxlength="14"  th:placeholder="CEP"/>
                <br><br>
                <input type="text" name="state" th:placeholder="UF"/>
                <br><br>
                <input type="text" name="city" th:placeholder="Cidade"/>
                <br><br>
                <input type="text" name="district" th:placeholder="Bairro"/>
                <br><br>
                <input type="text" name="street" th:placeholder="Rua"/>
                <br><br>
                <input type="text" name="complement" th:placeholder="Complemento"/>
                <br><br>
                <button type="submit">Confirmar</button>
            </form>
        </div>
    </body>
</html>

<script>
    function maskZIP(zip){
        mask = '00000-000';

        var flagMask;
        var digit = event.keyCode;
        numbers = zip.value.toString().replace( /\-|\.|\/|\(|\)| /g, "" );

        var pos = 0;
        var newValue="";
        if (digit != 8) {
                for(i=0; i<= 9; i++) {
                        flagMask  = ((mask.charAt(i) == "-") || (mask.charAt(i) == "."));

                        if (flagMask) {
                                newValue += mask.charAt(i);
                                numbers.length++;
                        }else {
                                newValue += numbers.charAt(pos);
                                pos++;
                        }
                }

               zip.value = newValue;
               return true;
        }else {
            return true;
        }
    }
</script>