<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Tela inicial</title>
    </head>
    <body>
        <div style="text-align: center">
            <h1>Bem vindo</h1>
            <br>
            <a th:href="@{/cliente/novo}">Novo cliente</a>
            <br>
            <a th:href="@{/cliente}">Continuar cadastro</a>
            <br>
            <a th:href="@{/conta/login}">Acessar conta</a>
        </div>
    </body>
</html>