<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Cadastrar E-mail</title>
    </head>
    <body>
    <div style="text-align: center">
        <h1>Cadastrar E-mail</h1>
        <br>
        <strong>Nome:</strong>
        <label th:text="*{client.name}"></label>
        <strong>Sobrenome:</strong>
        <label th:text="*{client.lastName}"></label>
        <br><br>
        <strong>CPF:</strong>
        <label th:text="*{client.document.cpf}"></label>
        <br><br>
        <strong>Agencia:</strong>
        <label th:text="*{client.account.agency}"></label>
        <strong>Conta:</strong>
        <label th:text="*{client.account.account}"></label>
        <br><br>
        <form th:action="@{/conta/gerar/senha}" th:object="${account}" method="post">
            <div th:each="erro: ${errors}">
                <span style="color: red;" th:text="${erro}" ></span>
            </div>
            <input type="text" name="cpf" th:value="${client.document.cpf}" hidden>
            <input type="password" name="password"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="8" th:placeholder="Senha"/>
            <button type="submit">Confirmar</button>
        </form>
        <br>
    </div>
    <a th:href="@{/}">voltar</a>
</body>
</html>