<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Buscar por CPF</title>
    </head>
    <body>
        <div style="text-align: center">
            <h1>Etapas de cadastro</h1>
            <br> <br>
            <form th:action="@{/cliente/busca}" @object="document" method="post">
                <div th:each="erro: ${errors}">
                    <span style="color: red;" th:text="${erro}" ></span>
                </div>
                <br>
                <input type="text" name="cpf" onKeyPress="maskCPF(cpf);" maxlength="14" th:placeholder="CPF"/>
                <button type="submit">Buscar</button>
            </form>
        </div>
        <a th:href="@{/}">voltar</a>
    </body>
</html>

<script>
    function maskCPF(cpf){
        mask = '000.000.000-00';

        var flagMask;
        var digit = event.keyCode;
        numbers = cpf.value.toString().replace( /\-|\.|\/|\(|\)| /g, "" );

        var pos = 0;
        var newValue="";
        if (digit != 8) {
                for(i=0; i<= 14; i++) {
                        flagMask  = ((mask.charAt(i) == "-") || (mask.charAt(i) == "."));

                        if (flagMask) {
                                newValue += mask.charAt(i);
                                numbers.length++;
                        }else {
                                newValue += numbers.charAt(pos);
                                pos++;
                        }
                }

               cpf.value = newValue;
               return true;
        }else {
            return true;
        }
    }
</script>