<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro geral</title>
    </head>
    <body>
    <div style="text-align: center">
        <h1>Etapas de cadastro</h1>
        <br>
        <strong>Nome:</strong>
        <label th:text="*{client.name}"></label>
        <strong>Sobrenome:</strong>
        <label th:text="*{client.lastName}"></label>
        <br>
        <strong>CPF:</strong>
        <label th:text="*{client.document.cpf}"></label>
        <br><br>
        <form  th:action="@{/cliente/endereco}" @object="document" method="get">
            <input type="text" name="cpf" th:value="${client.document.cpf}" hidden>
            <button type="submit">Cadastrar endereço</button>
        </form>
        <br>
        <form  th:action="@{/cliente/upload}" @object="document" method="get">
            <input type="text" name="cpf" th:value="${client.document.cpf}" hidden>
            <button type="submit">Upload foto do CPF</button>
        </form>
        <br>
        <div th:each="erro: ${errors}">
            <span style="color: red;" th:text="${erro}" ></span>
        </div>
        <form  th:action="@{/cliente/informacoes}" @object="document" method="get">
            <input type="text" name="cpf" th:value="${client.document.cpf}" hidden>
            <button type="submit">Visualizar dados cadastrados</button>
        </form>
        <br>
    </div>
    <a th:href="@{/cliente}">voltar</a>
    </body>
</html>