<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Upload de documento</title>
    </head>
    <body>
        <div style="text-align: center">
            <h1>Visualização</h1>
            <br>
            <div>
                <h3>Dados pessoais</h3>
                <strong>Nome:</strong>
                <label th:text="*{client.name}"></label>
                <strong>Sobenome:</strong>
                <label th:text="*{client.lastName}"></label>
                <br>
                <strong>E-mail:</strong>
                <label th:text="*{client.email}"></label>
                <br>
                <strong>Data de nascimento:</strong>
                <label th:text="*{client.birthday}"></label>
            </div>
            <br>
            <div>
                <h3>Endereço</h3>
                <strong>CEP:</strong>
                <label th:text="*{client.address.zip}"></label>
                <br>
                <strong>Estado:</strong>
                <label th:text="*{client.address.state}"></label>
                <br>
                <strong>Cidade:</strong>
                <label th:text="*{client.address.city}"></label>
                <br>
                <strong>Bairro:</strong>
                <label th:text="*{client.address.district}"></label>
                <br>
                <strong>Rua:</strong>
                <label th:text="*{client.address.street}"></label>
                <br>
                <strong>Complemento:</strong>
                <label th:text="*{client.address.complement}"></label>
            </div>
            <br>
            <div>
                <h3>Documentos</h3>
                <strong>Foto digitalizada para o CPF:</strong>
                <label th:text="*{client.document.cpf}"></label>
                <br><br>
                <img th:src="*{image}" width="400" height="237">
            </div>
            <div style="position: absolute; right: 500px;">
                <a type="button" href="/cliente/finalizar">Confirmar</a>
            </div>
        </div>
    </body>
</html>