<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Upload de documento</title>
    </head>
    <body>
        <div style="text-align: center">
            <h1>Visualizacao</h1>
            <br>
            <p>
                Foto digitalizada para o CPF: <label th:text="*{client.document.cpf}"></label>
            </p>
            <br>
            <img th:src="*{image}" width="600" height="360">
        </div>
    </body>
</html>